.project-container {
  width: 100%;
  height: 100%;
  transform: translateY(85px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  background: #ffffff;
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.project-title {
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #333;
}
.resume-link {
  margin-top: -20px;
  margin-bottom: 30px;
  text-decoration: underline;
}
.project-list {
  width: 100%;
  height: 300px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transform: all 1s ease-in-out;
}
.project-title-arrow {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: #99999924;
  }
}
.current-project-name {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  width: 50%;
}

.pagination-number {
  padding: 10px;
  background-color: #21212122;
  color: black;
  cursor: pointer;
  width: 70px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 10px;
  &:hover {
    transition: all 0.1s ease-in-out;
    transform: translateY(-2px);
  }
}

.selected-pagination {
  background-color: #0095ff;
  color: #fff;
}

@media (max-width: 513px) {
  .project-title {
    width: 250px;
  }
}
