.navbar-container {
  width: 100%;
  padding-top: 10px;
  position: sticky;
  top: 0px;
  z-index: 1000;
}
.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  background-color: #f4f4f4;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}
.nav-links {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.nav-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #000000;
  padding: 10px;
  border-radius: 20px;
}
.nav-link:hover {
  background-color: #ffffff;
  color: #310065;
  transition: all 0.1s;
  box-shadow: 0 4px 20px rgba(139, 212, 236, 0.311);
}

.nav-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  padding: 10px;
  border-radius: 20px;
  display: none;
}

.nav-menu {
  width: 200px;
  display: none;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(225, 225, 225);
  height: 100vh;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateX(100%);
}

@media (max-width: 768px) {
  .nav-menu-link {
    display: block;
  }
  .display {
    display: flex;
    opacity: 1;
    transform: translateX(0);
  }
  .nav-links {
    display: none;
  }
  .nav-menu {
    display: flex;
  }

  .navbar {
    justify-content: space-between;
  }
}
